@CHARSET "UTF-8";

#titleL {
    -fx-font-family: "Helvetica";
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: #ff0000;
    -fx-padding: 0 0 40 0;
}

#holder_pane {
	-fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

#main_grid {
	-fx-hgap: 50pt;
	-fx-vgap: 20pt;
}